[submodule "protocol-forge/lib/openzeppelin-contracts"]
	path = protocol-forge/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/vest_minimal"]
	path = lib/vest_minimal
	url = https://github.com/parseb/vest_minimal
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "protocol-forge/lib/vest_minimal"]
	path = protocol-forge/lib/vest_minimal
	url = https://github.com/parseb/vest_minimal
